<footer class="foot">
    <ul>
        <li></li>
    </ul>

    <ul>
        <li>
            <a class="btn-gh" href="https://github.com/philippebeck/celestial-atlas" rel="noreferrer noopener" target="_blank" title="To Watch the Project">
                <i class="fab fa-github fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-pp" href="https://www.paypal.me/philippebeck" rel="noreferrer noopener" target="_blank" title="For Donation !">
                <i class="fab fa-paypal fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>
